{% extends "base.html" %}
{% block title %}
  AJOUT
{% endblock title %}
{% block content %}
    <h1>Ajout de donnée</h1>
    <form action="{% url "addata" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
        {% if val %}
          <input type="hidden" name="mot_de_passe", value="{{val}}">
        {% endif %}
        <a href="{% url 'genpass' %}?op=addata"> Générer un mot de passe</a>
        <br>
        <button
            type="submit"
            class="btn btn-primary"
        >
            Ajouter
        </button>
    </form>
{% endblock content %}