{% extends "base.html" %}
{% block title %}
  GÉNÉRATION
{% endblock title %}
{% block content %}
    <h1 class="py-3">Génération de mot de passe</h1>
    
    <form action='{% url "genpass" %}', method="post" class="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="opp" value="{{op}}">
        <input type="hidden" name="indx" value="{{indx}}">
        <button
            type="submit"
            class="btn btn-primary"
        >
            Générer

        </button>
        <textarea type="text" name="passwd" id="passwd" value="{{pass}}" disabled>{{pass}} </textarea>{
        {% if session != "none" %}
            {% if op == 'addata' %}
            <button><a href="{% url "addata" %}?val={{pass}}">Utiliser</a></button>
            {% else %}
            <button><a href="{% url "editdata" %}?val={{pass}}&indx={{indx}}">Utiliser</a></button>
            {% endif %}
        {% endif %}
    </form>
    
    
    

    

{% endblock content %}
