{% extends "base.html" %}
{% block title %}
  GÉNÉRATION
{% endblock title %}
{% block content %}
    <h1 class="py-3">Génération de mot de passe</h1>
    
    <form action='{% url "genpass" %}', method="post" class="">
        {% csrf_token %}
        {{form.as_p}}
        <button
            type="submit"
            class="btn btn-primary"
        >
            envoyer
        </button>
        
    </form>
   
    
    <input name="passwd" id="passwd" value="{{pass}}" disabled >
    
    

    

{% endblock content %}
