{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav
        class="nav justify-content-center  "
    >
        <a class="nav-link active" href="{% static 'media/save.json' %}" aria-current="page" >{{MEDIA_URL}}</a>
        <a class="nav-link" href="{{MEDIA_URL}}">Link</a>
        <a class="nav-link disabled" href="#">Disabled link</a>
    </nav>
    <form action="{% url "openfil" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
    </form>
    {{MEDIA_URL}}
{% endblock content %}
