{% extends "base.html" %}
{% block title %}
  OUVERTURE
{% endblock title %}
{% block content %}
    <h1 class="py-3 text-4xl">Ouverture d'un coffre existant</h1>
    <form action="{% url "openoldfil" %}" method="post" enctype="multipart/form-data" class="flex flex-col justify-center items-center gap-3">
        {% csrf_token %}
        <label class="input">
            <span class="label">{{form.nom_du_coffre.label}}</span>
            {{form.nom_du_coffre}}
        </label>

        <label class="input">
            <span class="label">{{form.emplacement_du_coffre.label}}</span>
            {{form.emplacement_du_coffre}}
        </label>

        <label class="input">
            <span class="label m-0">Clé du coffre</span>
            {{form.clef}}
        </label>
        {% if form.non_field_errors %}
            <div class="error">
        {% for error in form.non_field_errors %}
                <p style="color:red;">{{ error }}</p>
        {% endfor %}
             </div>
        {% endif %}


        <button
            type="submit"
            class="btn btn-primary"
        >
            Ouvrir
        </button>
    </form>
    
{% endblock content %}
